# Bark Example Configuration

# Telegram Adapter
# Get this from @BotFather on Telegram
# TELEGRAM_TOKEN=123456789:ABCDEFGHIJKLMNOPQRSTUVWXYZ

# WhatsApp Adapter
# Standard WhatsApp group name to listen to and reply within
WA_GROUP="PersonalBark"
